body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fffeff;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway, sans-serif;
}

.navbar{
  display: flex;
  justify-content:center;
  align-items: center;
}
.navleft img{
  width: 8%;
  padding: 5%;
  align-items: center;
}
.navright{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navright a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  color: black;
}
.navright a:hover{
  background-color:lightgray;
}
label{
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.5em;
  color: gray;

}
#toggle{
  display: none;

}

@media(max-width:640px){
  .navbar{
    display: inline;
    align-items: center;
  }
  .navright{
    display: none;
  } 
  .navright a{
    padding: 20px;
    border-bottom: 1px solid gray
  }
  .navright i{
    display: none;
   
  }
  label{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    
    
  }

  #toggle:checked + .navright{
    display: block;
  }
  

}
.navright :nth-child(1){
  color: crimson;
}
.navright i{
  color:darkblue;
}
.home{
  background-image: url("image/home-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
.home h1{
 padding-top: 10%; 
 font-weight: 400;
}
.home h2{
  font-size: 4rem;
  margin:0 auto;
  display: inline;
  padding: 0;
  white-space: nowrap;
  color: white;
  background-color:rgba(197, 183, 183, 0.2);
}
.home h2 span{
  color: tomato;
}
.home p{
  width: 40%;
  margin: 10px auto;
}

.d-flex {
  display: flex;
  margin: auto;
  justify-content: center;
}
.home button{
  color: white;
  background-color:tomato;
  border-style: none;
  font-size: 1em;
  padding: 10px;
  width: 10%;
}
.home button:hover + i{
  animation-name: move;
  animation-fill-mode: forwards;
  animation-duration: 900ms;
  animation-timing-function: ease-in;
}
.home i{
  opacity: 0;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color:#FF8A65;
  color: white;
  border: 1px solid #FF8A65;
}
@media(max-width:640px){
  .home h2{
    font-size: 1.8em;
    margin: 0;
  }
  .home button{
    width: 80%;
  }
  .home p{
    margin: 2%;
    width: 80%;

  }
}
@keyframes move{
  from{
    transform: translateX(-15px);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.contenar{
  margin-top: 5%;
  height: 480px;
  display: flex;
  justify-content: center;
 
}
.contenarleft img{
  height: 400px;
}
.contenarright{
  background-color: #fff;
  width: 30%;
  height: 400px;
  margin-left: 15px;
  color: #2196F3;
}
.contenarright h1{
  padding: 0;
  font-size: 1.8em;
}
.contenarright p{
  margin: 1% 20% 1% 20%;
  text-align: center;
}
.contenarright input{
  width: 35%;
  margin: 2%;
  padding: 10px;
}
@media(max-width:640px){
  .contenar{
    display: block;
  }
  .contenarleft img{
    height: 200px;
    width: 100%;
  }
  .contenarright{
    margin-top: 15px;
    margin-left: 0;
    width: 100%;
    height: 200px;
    background: transparent;
  }
  .contenarright h1{
    padding: 10px;
    font-size: 1.3em;
  }
  .contenarright p{
    text-align: center;
    margin: auto;
   
  }

}
.contenar1{
  background-color: #fff;
  /* margin-top: 22%; */
  padding-bottom: 5%;
}
.center{
  text-align: center;
}
.center h1{
  font-weight: bold;
}
.center h1 span{
  color: #2196F3;
}
.center i{
  font-size: 2em;
  color: tomato;
}

.center p{
  margin: 0% 42% 2% 42%;

}
@media(max-width:640px){
  .center p{
    width: 80%;
    margin: 0;
    text-align: center;
    padding: 20px;
  }
}
.contenar1parent{
  font-family: sans-serif;
  /* font-weight: bold; */
  margin: 0% 20% 0% 20%;
  grid-gap: 15px;
  text-align: center;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-areas:
  "a b c"
  "d e f";
}
.contenarchild1{
  grid-area: a;
  background-color: #2196F3;
  color: white;
}
.contenarchild2{
  grid-area: b;
  background-color: #F5F5F5;
}
.contenarchild3{
  grid-area: c;
  background-color: #F5F5F5;
}
.contenarchild4{
  grid-area: d;
  background-color: #F5F5F5;
}
.contenarchild5{
  grid-area: e;
  background-color: #F5F5F5;
}
.contenarchild6{
  grid-area: f;
  background-color: #F5F5F5;
}

.x i{
  font-size: 2em;
  margin-top: 5%;
  color: green;
}
.x h1{
  font-size: 1.5em;
}
.pp{
  text-align: center;
  margin: 0% 40%;
  width: 20%;
  height: 3px;
  background-color: tomato;
}
@media(max-width:640px){
  .contenar1parent{
    display: block;
  }
}
.contenar2{
  background-color:lightgray;
  padding: 25px 0;
}

.contenar2 .child img{
  height: 400px;
}
.contenar2 .child{
  display: flex;
  justify-content: center;
  margin: auto;
}

.contenar2 .center h1 {
  text-transform: uppercase;
}
.contenar2 .child .right {
  width: 30%;
  margin-left: 15px;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  color:#2196F3; 
}

@media(max-width:640px){
  .contenar2 .child{
    display: block;
  }
  .contenar2 .child .right{
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    
  }

}
.li a{
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  padding: 5px;
  border-top: 1px solid #2196F3;
  border-bottom: 1px solid #2196F3; 
}
.cc{
  margin-top: 4%;
}
.grid{
  height: 720px;
  width: 100%;
  display: grid;
 
  grid-gap: 15px;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas: 
  ". aa bb cc ."
  ". aa dd cc ."
  ". ee dd ff .";
}
.grid img{
  height: 100%;
  width: 100%;
  
}

.i{
  grid-area: aa;
  
}
.i1{
  grid-area: bb;
 
}
.i2{
  grid-area: cc;
  
}
.i3{
  grid-area: dd;
  

}
.i4{
  grid-area: ee;
}
.i5{
  grid-area: ff;
}
@media(max-width:640px){
  .grid{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aa"
    "bb"
    "cc"
    "dd"
    "ee"
    "ff" ;
  }
  .grid img{
    width: 100%;
    height: 300px;
  }
}
